Library
obj
/hexmap-lobbyserver.sln
/.idea/.idea.hexmap-lobbyserver/.idea/contentModel.xml
/.idea/.idea.hexmap-lobbyserver/.idea/indexLayout.xml
/.idea/.idea.hexmap-lobbyserver/.idea/modules.xml
/.idea/.idea.hexmap-lobbyserver/.idea/vcs.xml
/.idea/.idea.hexmap-lobbyserver/.idea/workspace.xml
/.idea/.idea.hexmap-lobbyserver/riderModule.iml
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
